<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='your-new-styles.css') }}">
</head>
<body>
    <h1>Forgot Password</h1>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <form method="post" action="{{ url_for('forgot_password') }}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <button type="submit">Reset Password</button>
    </form>
    
    <p>Remember your password? <a href="{{ url_for('login_route') }}">Login</a></p>
</body> 
</html>