<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='your-new-styles.css') }}">
</head>
<body>
    <h1>Password Reset</h1>

    <form method="post" action="{{ url_for('reset_password', reset_token=reset_token) }}">
        <label for="new_password">New Password:</label>
        <input type="password" name="new_password" required>
        <br>

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" name="confirm_password" required>
        <br>

        <input type="submit" value="Reset Password">
    </form>
</body>
</html>